<h1><%= @message %></h1>
<p>This is a greeting from app/views/hello/index.html.erb</p>

<% for i in 1..@count %>
	<p><%= @bonus %></p>
<% end %>

<% content_for(:list) do %>
	<ol>
		<% for i in 1 ..@count %>
		<li><%= @bonus %></li>
		<% end %>
	</ol>
<% end %>
	