<h1><%= @message %></h1>
<p>This is a greeting from app/views/hello/index.html.erb</p>
<% for i in 1..@count %>
	<p><%= @bonus %></p>
<% end %>

<!-- Alternate syntaxes for the above loop -->
<!--
	<% @count.times do %>
		<p><%= @bonus %></p>
	<% end %>

	<% @count.times { %>
		<p><%= @bonus %></p>
	<% } %>
-->
