// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.curFocus {
			background: #FDECB2;
			width: 250px;
			box-shadow: 0 0 5px #888;
			-moz-box-shadow: 0 0 5px #888;
			-webkit-box-shadow: 0 0 5px #888;
		}

div.field {
			padding: 10px;
		}