// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { font-family: sans-serif;
	}

h1 { font-family: serif;
	font-size: 24pt;
	font-weight: bold;
	color: #F00;
	}