<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Award Notification</h1>
		<p>The <%= @award.name %> award for <%= @award.year %> has gone to
		<%= @award.student.name %>.</p>
	</body>
</html>