// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Styles for forms */
div.field {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 10px;
}

div.field label {
	font-weight: bold;
}

div.field span.required_mark {
	font-weight: bold;
	color: red;
}

/* draw attention to required fields */
div.required {
	padding-left: 6px;
	border-left: 4px solid #DD0;
}